name: Deploy to Production
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    # Вказуємо оточення для цього job - ЦЕ ОБОВ'ЯЗКОВО!
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to Production
        run: |
          echo "Deploying to the production server..."
          echo "Database URL is $PROD_DB_URL"
          echo "Using secret key ${{ secrets.PROD_API_KEY }}"
        env:
          PROD_DB_URL: ${{ vars.PROD_DB_URL }}
